body {
            background-color: #111d1e;
            color: #18ca86;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
        }
#options {
    display: flex;
    gap: 38px;
    justify-content: center;
    margin 20px;
}
.choices {
    width: 60px;
}
#scissor {
    display: flex;
    
}

